

# Security variables

# local_infile                   = ON                                  # If you are security aware
# secure_auth                    = ON                                   # If you are security aware
# secure_file_priv               = '/Users/punitshah/Desktop'                              # chmod 750, adjust AppArmor 
